@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.purple{
    color: #B24BF3 !important;
}

.title{
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

input:hover, textarea:hover{
    border-color: #8d8d8d;
}

input:focus, textarea:focus{
    border-color:#8638b6;
}

.container{
    padding: 50px 0;
    width: 100%;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

input, textarea{
    width: 100%;
    background-color: #242424;
    color: #fff;
    outline: none;
    border: 1px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea{
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label{
    font-size: 14px;
    font-weight: bold;
}

.click{
    transition: all 300ms ease;
}

.click:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.click:active{
    transform: scale(0.8);
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: white;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}

nav, 
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 500ms 600ms;
}

.modal__open nav, 
.modal__open .scroll,
.modal__open .header {
    opacity: 0;
    visibility: none;
    transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para
{
    color: white;
    
}

.dark-theme .purple{
    color: #c26ff5 !important;
}

.dark-theme .social__link{
    background-color: #c26ff5;
}

.dark-theme section{
    background-color: #242424;
}

.dark-theme #personal-logo{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dark-theme .scroll__icon{
    border-color: white;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect:after{
    background-color: white;
}

.dark-theme .mail__btn{
    background-color: white;
    color: #242424;
}

/*

LANDING PAGE

*/

#landing-page{
    min-height: 100vh;
}

section{
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding-left: 30px;
}

.header__para{
    width: 100%;
    max-width: 480px;
    font-size: 24px;
    line-height: 2;
}

.social__list{
    margin-top: 16px;
    display: flex;
}

.social__link{
    background-color: #B24BF3;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn{
    background-color: #242424;
    color: white;
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.scroll__icon:after{
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll{
    0%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-4px);
    }
}

/*

NAVIGATION

*/

#personal-logo{
    color: #242424;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding-left: 20px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
}

.nav__link--anchor{
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust{
    font-size: 20px;
}

/*

MODAL

*/

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal__half{
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease;
}

.modal__open .modal__about,
.modal__open .modal__contact{
    transform: translate(0%);
}


.modal__about{
    background-color: rgb(255, 255, 255);
    transform: translate(-110%);
}

.modal__open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__contact{
    background-color: #242424;
    transform: translate(-200%);
}

.modal__languages{
    display: flex;
    flex-wrap: wrap;
}

.modal__language--img{
    width: 100%;
}

.modal__language{
    width: 25%;
    padding: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language:hover .language__name{
    transform: scale(1);
}

.modal__language:hover{
    filter: brightness(80%);
    transform: scale(0.9);
}

.modal__title{
    font-size: 26px;
}

.modal__sub-title{
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para{
    margin-bottom: 12px;
    line-height: 1.75;
}

.language__name{
    position: absolute;
    font-weight: bold;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__title--contact{
    color: white;
}

.modal__sub-title--contact{
    color: white;
}

.form__item--label{
    color: white;
}

.form__item{
    margin-bottom: 20px;
}

.form__submit{
    background-color: #B24BF3;
    padding: 12px;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    font-size: 14px;
    transition: all 200ms ease;
}

.form__submit:hover{
    background-color: #8638b6;
}

.form__submit:active{
    color: rgb(163, 162, 162);
}

.modal__overlay{
    background-color: #242424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading{
    font-size: 80px;
    color: white;
    z-index: -1;
}

.modal__overlay--success{
    background-color: #4bb543;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 28px;
    color: white;
    z-index: -1;
}

.modal__overlay--visible{
    z-index: 1;
    display: flex;
}

.fa-spinner{
    animation: spinner 750ms infinite linear;
}

@keyframes spinner{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__exit{
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

/*

PROJECTS

*/

.project{
    padding-top: 100px;
}

.section__title{
    text-align: center;
    font-size: 48px;
}

.project__img{
    width: 100%;
    transition: transform 300ms;
}

.project__wrapper{
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img{
    transform: scale(1.07);
    background-image: url('screen-hover.jpg');
}

.project__wrapper:hover .project__wrapper--bg{
    opacity: 0.8;
}

.project__description{
    position: absolute;
    top: 50%;
    left: 90px;
    color: white;
    opacity: 0;
    transition: opacity 300ms, transform 450ms;
    max-width: 550px;
}

.project__wrapper--bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 300ms;
}

.project__description--title{
    font-size: 40px;
}

.project__description--sub-title{
    margin-top: 8px;
}

.project__description--link{
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para{
    margin: 16px 0;
}

/*

FOOTER

*/

footer{
    background-color: #242424;
    display: flex;
    padding: 6% 0;
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer__personal-logo{
    height: 50px;
    filter: invert(1);
}

.footer__social--list{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}

.footer__social--link{
    color: white;
}

.footer__copyright{
    color: white;
    padding-top: 16px;
}

.img__footer{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

/*

RESPONSIVENESS

*/

@media (max-width: 768px){
    .title{
        font-size: 80px;
    }

    .section__title{
        font-size: 32px;
    }

    .project__description--title{
        font-size: 24px;
    }

    .project__description--sub-title{
        font-size: 16px;
    }

    .project__description--para{
        width: 100%;
        max-width: 360px;
        font-size: 14px;
    }

    .modal{
        height: auto;
        flex-direction: column-reverse;
    }

    .modal__half{
        width: 100%;
        padding: 30px 72px;
    }

    .modal__title{
        font-size: 18px;
    }

    .modal__sub-title{
        font-size: 12px;
        margin: 12px 0px 14px;
    }

    .modal__para{
        font-size: 14px;
    }

    .modal__languages{
        display: flex;
        justify-content: center;
    }

    .modal__language{
        max-width: 70px;
    }

    input{
        height: 20px;
    }

    textarea{
        height: 40px;
    }

    .modal__contact{
        background-color: #242424;
    }

}

@media (max-width: 586px){
    .mail__btn{
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .nav__link:first-child{
        display: none;
    }

    .project__description{
        text-align: center;
    }
}

@media (max-width: 494px){
    .mail__btn{
        width: 0px;
        height: 0px;
        font-size: 20px;
    }

    .project__description--para{
        font-size: 0px;
    }
}



