@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.orange{
    color: #B24BF3 !important;
}

.title{
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

.click{
    transition: all 300ms ease;
}

.click:hover{
    transform: scale(1.1);
}

.click:active{
    transform: scale(0.8);
}

/*

LANDING PAGE

*/

#landing-page{
    min-height: 100vh;
}

section{
    background-color: rgb(245, 245, 245);
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding-left: 30px;
}

.header__para{
    width: 100%;
    max-width: 480px;
    font-size: 24px;
    line-height: 2;
}

.social__list{
    margin-top: 16px;
    display: flex;
}

.social__link{
    background-color: #B24BF3;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn{
    background-color: #242424;
    color: white;
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.scroll__icon:after{
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll{
    0%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}

/*

NAVIGATION

*/

#personal-logo{
    color: #242424;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding-left: 20px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
}

.nav__link--anchor{
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust{
    font-size: 20px;
}


